fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.0.1
requests==2.31.0
pypdf==3.17.4
pinecone==3.0.0
sentence-transformers==2.2.2
transformers==4.28.1
tokenizers==0.13.3
huggingface_hub==0.10.1
python-multipart==0.0.6
